name: Build Cards

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/fb6c3a6831ca5c5a9d923fed1db3c2006a118681.tar.gz
    - name: Build cards
      run: |
        OUTS=$(nix-build default.nix -A rendered.cards.all --no-out-link)
        mkdir cards-tmp
        for O in $OUTS; do cp $O/singles/*.png cards-tmp/; done
        find cards-tmp/ -name '*.png' -execdir sh -c "echo {} | sed 's/[^a-zA-Z0-9_.-]//g' | xargs -0 mv \"{}\"" \;
    - uses: actions/upload-artifact@v4
      with:
        name: cards
        path: cards-tmp
    - name: Build decks
      run: |
        OUTS=$(nix-build default.nix -A rendered.decks.all --no-out-link)
        mkdir decks-tmp
        for O in $OUTS; do cp $O/sheets/*.png decks-tmp/; done
    - uses: actions/upload-artifact@v4
      with:
        name: decks
        path: decks-tmp/
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          cards.zip
          decks.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
